/* General Services */
body {
  font-family: 'Trebuchet MS' !important;
  font-size: 14px;
  background-color: #fdfdfd;
  color: #737373;
}

a:link{
  text-decoration: none;
  color: #355296;
}

.no-padding {
  padding: 0;
}

.np-right{
  padding-right: 0;
}

.np-left{
  padding-left: 0;
}

.row{
  margin: 0;
}

p{
  margin: 0 0 15px;
}

.m-top{
  margin-top: 15px;
}

.m-bottom{
  margin-bottom: 15px;
}

.m-left{
  margin-left: 15px;
}

.m-right{
  margin-right: 15px;
}

.btn {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 4px;
}

.btn:focus, .btn-primary:focus {
  outline: 0 !important;
}

.btn-primary{
  background-color: #E3E829;
  color: #0039a6;
}

.btn-primary:hover, .btn-primary:focus {
  background-color: #0039a6;
  color: white;
}

.btn-out{
  background-color: #d7d7d7;
  border-radius: 0;
  padding: 8px 11px;
  color: #0039a6;
}

.btn-out:hover{
  background-color: #cbcbcb;
  color: #0039a6;
}

.btn-secondary{
  background-color: transparent;
  color: #03327c;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}

.btn-secondary:hover{
  background-color: transparent;
  color: #03327c;
}

.btn-secondary:focus, .btn-secondary:active{
  outline: 0 !important;
  box-shadow: none !important;
}

.btn-default {
  background-color: #d6d6d6;
}

.btn-default:hover {
  background-color: #c3c3c3;
}

.btn-blue, .btn-blue:focus {
  background-color:#0039a6;
  color: white;
}

.btn-blue:hover {
  background-color: #E3E829;
  color: #0039a6;
}

.alert{
  padding: 25px 20px;
  border: 0;
  border-radius: 0;
}

.alert-warning{
  background-color:#fff4cb;
  color: #76551e;
}

.alert-dismissable .close,
.alert-dismissible .close {
  right: 0;
}

.custom-alert{
  padding: 30px 15px;
  background-color: #777770;
  height: auto;
  overflow: hidden;
  font-size: 16px;
  color: white;
}

.custom-alert h1{
  text-transform: uppercase;
  font-weight: 400;
  font-size: 24px;
  margin:  0 0 5px 0;
}

.custom-alert p{
  margin: 0;
}

@media (min-width: 992px){
  .boxes .col-md-offset-1 {
    margin-left: 12.8%;
  }
}

@media (min-width: 690px){
  .boxes .col-md-offset-3 {
    margin-left: 25%;
  }
}

@media (min-width: 690px){
  .boxes .col-md-3 {
    width: 25%;
    float:left;
  }
}

/* Modals */
.modal-content{
  border-radius: 0;
}

.modal-header{
  background-color: #00aecb;
  padding: 15px;
}

.modal-header .close{
  color: #fff;
  text-shadow: none;
  filter: alpha(opacity=100);
  opacity: 1;
  margin-top: 0px;
}

.header-close .close span{
  display: block;
  padding: 10px 15px;
}

.modal-title{
  color: white;
  text-transform: uppercase;
}

.modal-body{
  padding: 0;
}

.modal-lg{
  width: 850px !important;
}

.modal-sm{
  width: 670px !important;
}

@media (min-width: 768px){
  .modal-dialog {
    width: 640px;
    margin: 40px auto;
  }
}

/* Scroll */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(208, 208, 208, 0.3);
}

::-webkit-scrollbar-thumb {
  background: rgba(208, 208, 208, 0.7);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(208, 208, 208, 0.7);
}

/* Check */
.check{
  position: absolute;
}

.check input[type='checkbox']{
  height: 18px;
  width: 18px;
  position: absolute;
  top: -13px;
  opacity: 0 !important;
  left: 8px !important;
  cursor:pointer;
  z-index: 999999
}

.check input[type='checkbox'] + label{
  align-items: center;
  color: #333;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
  display: flex;
  max-width: 100%;
  font-weight: 700;
  margin-bottom: 0;
}

.check input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #d3d3d3;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
  margin-top: -9px;
}

.check.filter input[type='checkbox'] + label > span{
  width: 18px;
  height: 18px;
  background: transparent;
  border: 2px solid #a7a7a7;
  border-radius: 2px;
  cursor: pointer;
  transition: all 250ms cubic-bezier(.4,.0,.23,1);
  margin-top: 5px;
  z-index: 5;
}

.check input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{
  color: #333;
}
.check input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{
  background: rgba(255,255,255,.1);
}

.check input[type='checkbox']:checked + label > span{
  border: .5em solid #00aecb;
  background-color: #00aecb;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}
.check input[type='checkbox']:checked + label > span:before{
  content: "✓";
  color: white;
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

.check.filter input[type='checkbox']:checked + label > span:before{
  content: "✓";
  color: white;
  -webkit-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{
    transform: scale(.85);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #fff;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{
    width: .2em;
    height: .5em;
    border-color: #fff;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

/* Search */
.header{
  width: 100%;
  height: 56px;
  background-color: #f2f2f2;
  border-bottom: 5px solid #e7e7e7;
  margin-bottom: 10px;
}

.header h1{
  text-transform: uppercase;
  font-weight: 400;
  color: #0039a6;
  margin: 0 0 0 10px;
  font-size: 26px;
  float: left;
}

.logo{
  padding: 14px 0;
}

.name-app{
  border-left: 2px solid #355296;
  height: 26px;
  margin-top: 14px;
  margin-left: 10px;
  float: left;
}

.info-user{
  padding: 6px 0;
}

.get-out{
  padding: 8px 0;
}

@media (max-width: 400px){
  .name-app{
    display: none;
  }

  .select-btn {
    display: inline-block;
    width: 100%;
    text-align: left;
  }
}

.panel{
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 13px;
}

.panel-body{
  padding: 20px 5px;
  background-color: #f6f6f6;
  border-radius: 0 0 6px 6px;
}

.panel-primary {
  border: 0;
}

.panel-primary > .panel-heading,
.name-table {
  color: #fff;
  background-color: #00aecb;
  border: 0;
  padding: 6px 15px;
  font-size: 18px;
  border-radius: 6px 6px 0 0;
}

.name-table.gray {
  background-color: #E3E3E3;
  color: #666;
}

.panel-heading{
  border-radius: 0;
  padding: 10px 15px;
}

.form-control{
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #EAEAEA;
}

.has-error .form-control,
.has-error .Select-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #de5755;
}

.has-success .Select-control {
  box-shadow: none;
  border-color: #3c763d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.is-focused:not(.is-open) > .Select-control {
  border-color: #3c763d;
}

.error{
  color: #de5755;
}

/* Info user */
.view-info{
  background-color: #00aecb;
  color: white;
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 6px;
}

.view-info h1{
  margin: 0 0 10px 0;
  font-size: 19px;
}

.view-info h2{
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
}

.view-info span{
  font-size: 14px;
}

/* Abstract */
.abstract, .annual-summary{
  padding: 15px;
  background-color: #f6f6f6;
  color: #666;
  height: auto;
  overflow: hidden;
  border-radius: 6px;
}

.abstract h1, .annual-summary h1{
  text-transform: uppercase;
  font-weight: 400;
  color: #0039a6;
  font-size: 28px;
  margin: 0;
}

.abstract .boxes{
  margin-top: 25px ;
}

.info-recordadas {
  padding: 10px 20px 20px;
  margin: 0;
}

.info-recordadas i {
  color: #0039a6;
  padding-right: 5px;
  position: relative;
  top: 3px;
  font-size: 20px;
  line-height: 1.5;
}

.box-recordadas {
  background: #c9cab5;
  border-radius: 6px;
}

.line-text {
  margin: 0;
}

.abstract .plus{
  top: 30%;
  position: absolute;
  right: -8px;
  color: #0039a6;
}

.detail .title{
  position: absolute;
  color: white;
  padding: 8px 10px;
  left: 17px;
  width: 85%;
  text-align: center;
  top: -28px;
  border-radius: 8px;
  font-size: 12px;
}

.detail .title p{
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: bold;
}

.detail .title.tit-bono_pensional{
  background-color: #00a3be;
}

.detail .title.tit-otros_fondos{
  background-color: #595959;
}

.detail .title.tit-proteccion{
  background-color: #008ad1;
}

.detail .title.tit-proteccion img{
  margin-top: -8px;
}

.detail .title.tit-total{
  background-color: #e3e829;
  color: #0039a6;
}

.detail .content{
  background-color: #e6e6e6;
  margin: auto;
  width: 95%;
  padding: 30px 30px 8px;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 4px;
}

.tooltipText:hover {
  position: relative;
}

.tooltipText[aria-label]:hover:after {
  content: attr(aria-label);
  padding: 4px 8px;
  position: absolute;
  left: 0;
  top: 20px;
  text-decoration: none;
  white-space: nowrap;
  z-index: 999;
  color: white;
  background:#00aecb;
  border-radius: 4px
}

.form-group {
  margin-bottom: 10px;
}

.add-patronalbtn {
  position: relative;
  float: right;
  bottom: 45px;
  padding: 7px 12px;
  border-radius: 0 4px 4px 0;
}

.formModal {
  overflow-y: visible !important;
}

.formModal-footer {
  margin-top: 40px;
}

@media (max-width: 768px){
  .abstract h1{
    font-size: 19px !important;
  }
  .detail .title{
    font-size: 12px;
    left: 25px;
    width: 70%;
  }
  .detail .title span.display{
    display: none;
  }
  .detail .title.tit-proteccion img {
    margin-left: -4px;
  }
  .detail .content{
    padding: 35px 30px 8px;
  }

  .recordadas .detail .content {
    padding: 50px 30px 8px;
  }

  .formModal {
    overflow-y: auto !important;
  }
}

@media (max-width: 414px){
  .detail .title {
    font-size: 12px;
    left: 43px;
    width: 65%;
  }
  .detail{
    margin-bottom: 45px;
  }
}

@media (max-width: 320px){
  .detail .title {
    font-size: 12px;
    left: 32px;
    width: 65%;
  }
  .descargar-pdf {
    margin: 10px;
  }
}

/* Annual Summary */

.annual-summary{
  padding: 15px 15px 0 15px;
  margin-bottom: 10px;
}

.annual-summary .panel-default {
  border: 0;
}

.annual-summary .panel-default > .panel-heading {
  color: white;
  background-color: #00a3be;
  border: 0;
  text-transform: uppercase;
}

.annual-summary .panel > .list-group:last-child .list-group-item:last-child,
.annual-summary .panel > .panel-collapse > .list-group:last-child .list-group-item:last-child{
  background-color: #ffffff;
  border-top: 3px solid #f6f6f6;
}

.annual-summary .content-tables {
  height: auto;
  overflow: hidden;
  justify-content: center;
  overflow-x: auto;
  display: flex;
  margin: auto;
}

@media (max-width: 900px){
  .annual-summary .content-tables {
    justify-content: baseline;
  }
}

.annual-summary .list-group-item{
  padding: 5px 0;
}

.icon{
  position: absolute;
  right: 0;
  padding: 6px 8px 4px 8px;
  top: 0;
  color: white;
  width: 30px;
}

.icon-exp{
  position: relative;
  height: 25px;
  width: 25px;
  float: left;
  margin-right: 8px;
  padding: 6px;
  font-size: 12px;
  color: white;
}

.icon.incomplete,
.icon-exp.incomplete{
  background-color: #0039a6;
}

.icon.remembered,
.icon-exp.remembered{
  background-color: #d1d1d1;
  color: #0039a6;
}

.icon.approved,
.icon-exp.approved{
  background-color: #00a3be;
}

.icon.empty,
.icon-exp.empty{
  background-color: #595959;
}

.icon.complete,
.icon-exp.complete{
  background-color: #e3e829;
  color: #0039a6;
}

.exp{
  float:left;
  width: auto;
  margin-left: 25px;
}

.exp p{
  display: flex;
  line-height: 25px;
}
.color-primary{
  color: #00a3be;
}

/* Detail */
.content-table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}

.content-table .header-table {
  width: 100%;
  padding: 10px !important;
  background-color: #F2F2F2;
  height: auto;
  overflow: hidden;
}

.content-table .table {
  display: table;
  width: 100%;
  margin: 0 auto;
  background-color: #FBFBFB;
  font-size: 13px;
}

.content-table .table .row {
  display: table-row;
  text-align: center;
}

.content-table .table .row:hover {
  background-color: #F6F6F6;
}

.content-table .table .col {
  display: table-cell;
  border-top: 3px solid white;
  vertical-align: middle;
  padding: 8px 10px;
  text-align: left;
  color: #666;
}

.content-table .table .col.icon {
  padding: 0px;
}

.content-table .table a {
  color: #00AECB;
}

.content-table .table a:focus,
.content-table .table a:active,
.content-table .table a:visited {
  outline: none !important;
}

.content-table .table .header-table .col {
  padding: 10px !important;
  background-color: #F2F2F2;
  text-align: left !important;
  color: #666;
  font-weight: bold;
  line-height: 18px;
}

.content-table .table .header-table .col.col-check {
  width: 35px;
}

.content-table .table .icon{
  position: relative;
  padding: 0;
  text-align: center;
  width: 30px;
  height: 30px;
  margin: auto;
  line-height: 32px;
}

.icon-table{
  padding: 0 !important;
}

/* Actions */
.actions{
  background: #9fa0a4;
  margin-top: 3px;
  z-index: 22;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 15px;
}

.item-selects{
  color: white;
  font-size: 18px;
  padding: 16px 0;
}

.edit{
  padding: 11px 0;
}

.dropdown-menu.bootstrap-typeahead-menu.dropdown-menu-justify{
  max-height: 140px !important;
}

/* Sweet alert */
.sweet-alert .sa-error-container .icon{
  position: relative;
}

.sweet-alert h2 {
  color: #575757;
  font-size: 25px;
  font-family: 'Trebuchet Ms';
  margin: 25px 0 0;
}

.sweet-alert p {
  color: #666666;
  font-size: 14px;
  font-family: 'Trebuchet Ms';
}

.sweet-alert button {
  background-color: #0039a6;
  color: white;
  font-family: 'Trebuchet Ms';
  border: none;
  box-shadow: none;
  font-size: 14px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 26px 5px 15px 5px;
  cursor: pointer;
  padding: 8px 25px;
}

.icon-modal{
  font-size: 75px;
}

.icon-modal.blue{
  color: #0033a0;
}

.icon-modal.gray{
  color: #737373;
}

.content-alert{
  padding: 30px;
  text-align: center;
  border-top: 11px solid #009ee8;
}

.content-alert h4{
  margin: 20px 0;
}

.width-alert{
  margin: 80px auto;
}

@media (max-width: 625px) {
  .width-alert{
    width: auto;
    margin: 80px 10px;
  }
}

.header-alert{
  background-color: #e3e829;
  top: -41px;
  position: absolute;
  right: 0;
  padding: 10px 15px;
  border-bottom: 0;
  cursor: pointer;
}

.header-alert .close {
  color: #063598;
}

/* radios */
.radio-css {
  margin: 0.5rem !important;
}

.radio-label{
  font-weight: normal;
}

.radio-css input[type="radio"] {
  position: absolute !important;
  opacity: 0 !important;
  margin-left: 4px !important;
}

.radio-css input[type="radio"] + .radio-label:before {
  content: '';
  background: #fdfdfd;
  border-radius: 100%;
  border: 1px solid #d6d6d6;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  top: -0.2em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.radio-css input[type="radio"]:checked + .radio-label:before {
  background-color: #00aecb;
  box-shadow: inset 0 0 0 4px #f4f4f4;
}

.radio-css input[type="radio"]:focus + .radio-label:before {
  outline: none;
  border-color: #00aecb;
}

.radio-css input[type="radio"]:disabled + .radio-label:before {
  box-shadow: inset 0 0 0 4px #f4f4f4;
  border-color: #b4b4b4;
  background: #b4b4b4;
}

.radio-css input[type="radio"] + .radio-label:empty:before {
  margin-right: 0;
}


/* Loading */
.bg-loading {
  position: fixed;
  z-index: 9999999 !important;
  background-color: rgba(255, 255, 255, 0.95);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-align: center;
}

.bg-loading img {
  margin-top: 20%;
}

@media (max-width: 600px) {
  .info-user {
    position: absolute;
    right: 0;
    top: 60px;
  }
  .name-app h1{
    font-size: 21px;
  }
  .header-panel {
    margin-bottom: 60px;
  }
  .exp{
    margin-left: 0;
    width: 100%;
  }
}

/* Contributors */
.contributors .table .col{
  padding: 2px 10px;
}

.contributors .table .row{
  cursor: pointer;
}

/* content-tables */
@media (max-width: 625px) {
  .annual-summary .content-tables {
    display: block;
  }
}

@media (max-width: 768px) {
  .exp {
    margin-left: 0;
    padding-right: 30px;
  }
  .form-input {
    width: 100% !important;
  }
  .form-downloadBtn {
    padding: 0;
    height: 50px !important;
  }
}

.rbt .dropdown-menu-justify {
  height: auto;
  max-height: 220px !important;
  margin-bottom: 30px;
}

/* Tooltip */
.tooltip-button-helper {
  display: inline-block;
  vertical-align: top;
  cursor: default !important;
  float: left;
  position: relative;
  margin: 0 5px;
  line-height: 21px;
  color:#00aecb;
}

.info-tooltip .tooltip-button-helper {
  float: none;
}

.tooltip{
  font-family: 'Trebuchet Ms';
  font-size: 14px;
}

.tooltip-inner{
  background-color:#00aecb;
  color: white;
}

.tooltip.bottom .tooltip-arrow{
  border-bottom-color: #00aecb;
}

.tooltip.right .tooltip-arrow{
  border-right-color: #00aecb;
}

/* pagination */
.pagination{
  margin: 0;
}

.pagination > li > a, .pagination > li > span {
  color: #00aecb;
  border: none;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;
  color: #fff;
  cursor: default;
  background-color: #00aecb;
  border: 0;
}

/* circle list */

.circle-content {
  display: inline-block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.circle-list {
  background-color: #00aecb;
  border-radius:50%;
  width:40px;
  height:40px;
  margin-bottom: 20px;
}
.circle-info {
  position: relative;
  background-color: #00aecb;
  border: 2px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transform: translate(5px, 5px);
}
.circle-number {
  font-size: 20px;
  color: white;
  margin-top: 2px;
  margin-left: 8px;
}
.circle-text {
  width: 680px;
  margin-top: -35px !important;
  margin-left: 40px;
}

@media (min-width : 320px) and (max-width : 480px) {
  .circle-content {
    margin: 10px 0;
  }
  .circle-list {
    margin-bottom: 90px;
  }
  .circle-list:last-child {
    margin-bottom: 45px;
  }
  .circle-text {
    width: 230px;
  }
  .abstract .plus {
    right: -15px;
  }
}

@media (min-width : 992px) {
  .circle-text {
    width: 890px;
  }
}

.btn-size {
  margin: 5px 10px 0;
}

.header-close {
  padding: 0;
}

.icon-pdf {
  padding-left: 5px;
  top: 3px;
  position: relative;
}

/* hl-gestion */

.form-group {
  width: 100%;
  padding: 10px 0;
  margin: 0;
}

.form-download {
  width: 50%;
  padding: 10px 0;
  margin: 0;
}

.form-downloadBtn {
  height: 80px;
}

.btn-descarga {
  margin-bottom: 12px;
  position: absolute;
  bottom: 0;
}

.form-input {
  width: 50%;
}

.form-control {
  padding: 5px 0;
  margin: 0;
}

.input-box {
  border: none;
  background: transparent;
}

.btn-carga {
  margin: 10px 0;
}

.table-pagination {
  padding: 10px 0;
  font-size: 16px;
}

.reconectarBtn {
  padding-left: 0;
  height: 60px;
}

.title-page {
  color: #0039a6;
}
